<head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>do it better</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <LINK REL="StyleSheet" href="{{ STATIC_URL }}css/main.css" TYPE="text/css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>

    </head>

    <body>

        Are you looking for a game or for players?

        <a id="button-game" href="{% url 'directory.views.games' %}"> GAME BUTTON </a>

        <a id="button-player" href="{% url 'directory.views.players' %}"> PLAYER BUTTON </a>

    </body>